.MyUp{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    z-index: 999999;
}
.Logo{
    display: flex;
    max-width: 35%;
    padding-left: 2%;
}
.VideoClass{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
.VideoTitle{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 15%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.VideoButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.MainContain{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
}
.LargeTitle{
    display: flex;
    font-size: 2.5rem;
    padding-left: 5%;
    /* padding-top: 5%; */
    font-weight: bold;
}
.ViceTitle{
    display: flex;
    font-size: 1.5rem;
    color: darkgray;
    padding-left: 4%;
    padding-top: 5%;
    font-weight: bold;
}
.CardClassContain{
    display: flex;
    padding-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.cardMyClass{
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}