html{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.ProgramContain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 700px;
    padding-top: 150px;
}
.ProgramTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ProgramCardContain{
    display: flex;
    width: 90%;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    max-height: 600px;
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
}